{% extends 'base.html.twig' %}

{% block title %}Edit WearCondition{% endblock %}

{% block body %}
    <h1>Edit WearCondition</h1>

    {{ include('wear_condition/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('wear_condition_index') }}">back to list</a>

    {{ include('wear_condition/_delete_form.html.twig') }}
{% endblock %}
