{% extends 'base.html.twig' %}

{% block title %}New WearCondition{% endblock %}

{% block body %}
    <h1>Create new WearCondition</h1>

    {{ include('wear_condition/_form.html.twig') }}

    <a href="{{ path('wear_condition_index') }}">back to list</a>
{% endblock %}
