{% extends 'base.html.twig' %}

{% block title %}Edit Visibility{% endblock %}

{% block body %}
    <h1>Edit Visibility</h1>

    {{ include('visibility/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('visibility_index') }}">back to list</a>

    {{ include('visibility/_delete_form.html.twig') }}
{% endblock %}
