{% extends 'base.html.twig' %}

{% block title %}New PostStatus{% endblock %}

{% block body %}
    <h1>Create new PostStatus</h1>

    {{ include('post_status/_form.html.twig') }}

    <a href="{{ path('post_status_index') }}">back to list</a>
{% endblock %}
